/***
    The new CSS reset - version 1.7.3 (last updated 7.8.2022)
    GitHub page: https://github.com/elad2412/the-new-css-reset
***/

/*
    Remove all the styles of the "User-Agent-Stylesheet", except for the 'display' property
    - The "symbol *" part is to solve Firefox SVG sprite bug
 */
*:where(:not(html, iframe, canvas, img, svg, video, audio):not(svg *, symbol
      *)) {
  all: unset;
  display: revert;
}

/* Preferred box-sizing value */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Reapply the pointer cursor for anchor tags */
a,
button {
  cursor: revert;
}

/* Remove list styles (bullets/numbers) */
ol,
ul,
menu {
  list-style: none;
}

/* For images to not be able to exceed their container */
img {
  max-width: 100%;
}

/* removes spacing between cells in tables */
table {
  border-collapse: collapse;
}

/* Safari - solving issue when using user-select:none on the <body> text input doesn't working */
input,
textarea {
  -webkit-user-select: auto;
}

/* revert the 'white-space' property for textarea elements on Safari */
textarea {
  white-space: revert;
}

/* minimum style to allow to style meter element */
meter {
  -webkit-appearance: revert;
  appearance: revert;
}

/* reset default text opacity of input placeholder */
::placeholder {
  color: unset;
}

/* fix the feature of 'hidden' attribute.
 display:revert; revert to element instead of attribute */
:where([hidden]) {
  display: none;
}

/* revert for bug in Chromium browsers
 - fix for the content editable attribute will work properly.
 - webkit-user-select: auto; added for Safari in case of using user-select:none on wrapper element*/
:where([contenteditable]:not([contenteditable='false'])) {
  -moz-user-modify: read-write;
  -webkit-user-modify: read-write;
  overflow-wrap: break-word;
  -webkit-line-break: after-white-space;
  -webkit-user-select: auto;
}

/* apply back the draggable feature - exist only in Chromium and Safari */
:where([draggable='true']) {
  -webkit-user-drag: element;
}

/* VARIABLES */

:root {
  /* CSS Colors from https://flatuicolors.com/palette/es */
  --c-jacksons-purple: #40407a;
  --c-lucky-point: #2c2c54;
  --c-fluorescent-red: #ff5252;
  --c-eye-of-newt: #b33939;
  --c-c64-purple: #706fd3;
  --c-liberty: #474787;
  --c-synthetic-pumpkin: #ff793f;
  --c-chilean-fire: #cd6133;
  --c-swan-white: #f7f1e3;
  --c-hot-stone: #aaa69d;
  --c-cocodrile-tooth: #d1ccc0;
  --c-grey-porcelain: #84817a;
  --c-summer-sky: #34ace0;
  --c-devil-blue: #227093;
  --c-mandarin-sorbet: #ffb142;
  --c-alameda-ochre: #cc8e35;
  --c-celestial-green: #33d9b2;
  --c-palm-springs-splash: #218c74;
  --c-spiced-butternut: #ffda79;
  --c-desert: #ccae62;

  /* Space */
  --s-0: 0;
  --s-1: 0.125rem;
  --s-2: 0.25rem;
  --s-3: 0.5rem;
  --s-4: 1rem;
  --s-5: 1.5rem;
  --s-6: 2rem;
  --s-7: 3rem;
  --s-8: 4rem;
  --s-9: 6rem;
  --s-10: 8rem;

  /* Font Sizes */
  --fs-0: 0.8rem;
  --fs-1: 1rem;
  --fs-2: 1.25rem;
  --fs-3: 1.563rem;
  --fs-4: 1.953rem;
  --fs-5: 2.441rem;
  --fs-6: 3.052rem;

  /* Font Families */
  --ff-base: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen-Sans,
    Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
  --ff-complementary: 'Abril Fatface', cursive;
}

/* CUSTOM CSS */
html {
  font-size: 100%;
}

body {
  line-height: 1.7;
  font-family: var(--ff-base);
}

p {
  margin-bottom: var(--s-4);
}

h1,
h2,
h3,
h4,
h5 {
  margin: var(--s-7) 0 var(--s-5);
  font-family: var(--ff-complementary);
  line-height: 1.3;
}

h1 {
  margin-top: 0;
  font-size: var(--fs-6);
}

h2 {
  font-size: var(--fs-5);
}

h3 {
  font-size: var(--fs-4);
}

h4 {
  font-size: var(--fs-3);
}

h5 {
  font-size: var(--fs-2);
}

small {
  font-size: var(--fs-0);
}
